<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Select by GPA</title>
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
	<form action=<%- postUrl %> method="post">
		<fieldset>
           	<label><b>GPA: </b></label>
            <input type="text" name="gpa">
            <br><br>
		</fieldset>

		<br>
		<input type="submit" value="Submit Request">
	</form>
	<hr>
	<a href=<%- homeUrl %>>HOME</a>
</body>

</html>