<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Adoption</title>
</head>

<body>
	<h1>Random Adoption</h1>
	<form action="/adoptionSuccess" method="post">
		<fieldset>
           	<label><b>Name: </b></label>
            <input type="text" name="name">
            <br><br>
		</fieldset>

		<br>
		<input type="reset">
		<input type="submit" value="Submit Adoption Request">
	</form>
	<hr>
	<a href="/">HOME</a>

</body>

</html>