<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Dog Adoption Center</title>
</head>

<body>
	<h1>Random Dog Adoption Dog Center</h1>

    <h2>Customer</h2>
    <ul>
        <li>To look through the catalog select <a href="/adoption">Catalog</a></li>
        <li>To look at cart select <a href="/backyard">Cart</a></li>
        <li>To return all dogs <a href="/returnDog">Return Dogs</a></li>
    </ul>
    <hr>
</body>

</html>
