<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Results</title>
</head>

<body>
	<h1><%- header %></h1>

    <h2>Results</h2>
    <div>
        <%- results %>
    </div>
    <hr>
    <a href=<%- homeUrl %>>HOME</a>
</body>

</html>
