<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Results</title>
    <style>
		body {
			background-color:aliceblue;
		}
	 </style>
</head>

<body>
	<h1><%- header %></h1>

    <h2>Results</h2>
    <div>
        <%- results %>
    </div>
    <hr>
	<a href="/">HOME</a>

</body>

</html>
