<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Return Dogs</title>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
	<h1>Return All Dogs</h1>
	<form action="/processReturnDog" method="post">
		<input type="submit" value="Remove All Dogs">
	</form>
	<hr>
	<a href="/">HOME</a>

    <script>
		window.onsubmit = () => {
			let msg = "Are you sure you want to remove all applications?";
			return window.confirm(msg);
		};
	</script>
</body>

</html>