<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Return Dogs</title>
	<style>
		body {
			background-color:lavender;
		}
	 </style>
</head>

<body>
	<h1>Return All Dogs</h1>
	<form action="/processReturnDog" method="post">
		<input type="submit" value="Remove All Dogs and Users">
	</form>
	<hr>
	<a href="/">HOME</a>

    <script>
		window.onsubmit = () => {
			let msg = "Are you sure you want to remove all registered users and dogs?";
			return window.confirm(msg);
		};
	</script>
</body>

</html>